<h1>Puhkuseteate esmane seadistamine</h1>
<p>
  <%=  t("vacation_help_1")%>
</p>

<div>
  <b>INCLUDERC=<%= File.join(Conf.datadir,@username,Vacation::RC_FILE) %></b>
</div>
<p>
  <%=  t("vacation_help_2") %>
</p>
